* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.slider {
   width: 100%;
   height: 100vh;
   position: relative;
   overflow: hidden;
}

.slider__img {
   min-width: 100%;
   min-height: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   opacity: 0.6;
}

.slider__txt {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-size: 40px;
   font-family: tahoma, sans-serif;
   text-shadow: 0 0 6px #fff;
}

.slider__dots {
   position: absolute;
   left: 50%;
   bottom: 30px;
   transform: translateX(-50%)
}

.slider__dots>span {
   width: 10px;
   height: 10px;
   display: inline-block;
   background-color: #000;
   margin: 0 20px;
   border-radius: 50%;
   box-shadow: 0 0 0 5px #fff;
}

.slider__dots>.slider--active-dot {
   box-shadow: 0 0 0 5px #fff, 0 0 3px 10px red;
}
